!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Workspace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %header
    .navbar.yamm.navbar-default
      .container
        %nav#navbar-collapse-1.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/users"} AGPCC Admin Dashboard
            %li
              %a{:href => "#"} Event-CheckIn
            %li
              %a{:href => "#"} List Check-Ins
            %li
              %a{:href => "#"} Event Manager
            %li
              %a{:href => "#"} Support
            %li
              %a{:href => "/logout"} Logout
  %body.container
    = yield
